header {
  background-color: white;
  padding: 0;
  margin: 0;
}

.container {
  color: black;
  background-color: white;
  /* border: 1px solid #000; */
  box-shadow: 0px 0px 10px 0px;
  display: flex;  

}

.h1 {
  margin-left: 40px;
  font-family:cursive;
}
.navbar-1 {
  display: flex;
}
.fa-desktop {
  font-size: 30px;
  margin-left: 50px;
  margin-top: 20px;

}
.fa-desktop:hover{
  color: blue;
}
.fa-mobile:hover{
  color:blue;
}
.fa-mobile {
  font-size: 40px;
  margin-left: 50px;
  margin-top: 15px;
}
.navbar-2 {
  display: flex;
  /* border: 1px solid #000; */
  margin-left: 500px;
}

.list {
  display: flex;
  list-style: none;
  margin-right: 50px;
}
li {
  margin-left: 30px;
  margin-top: 10px;
}

a:hover{
  color: blue;
}
a {
  text-decoration: none;
  color: black;
}

.btn {
  width: 100px;
  height: 40px;
  margin-right: 60px;
  margin-top: 13px;
  border-radius: 36px;
  background-color: #306bff;
  border: none;
  color: white;
}
.list-list {
  border: none;
  overflow: none;
  border-bottom: 2px solid black;
}
.title {
  margin-top: 80px;
  background-color: white;
}
.title_o {
  text-align: center;
  font-family: "Patrick Hand", cursive;
  font-size: 40px;
}

.ul-list {
  display: flex;
  text-align: center;
  /* border: 1px solid #000; */
}
.list-st {
  /* text-align: center; */
  list-style: none;
}

.center_list {
  text-align: center;
  margin-left: 600px;
  list-style: none;
}
.al {
  text-decoration: none;
}
.al:hover {
  color: blue;
}
.name{
  margin-top: 50px;
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif\;
}

.row{
  width: 1200px;
  /* border: 1px solid #000; */
  margin-left: 250px;
}

.image{
  display: inline-block;
}

figure{
  overflow: hidden;
  margin: 0 10px;
}


.image img{
  display: block;
  width: 501px;
  height:600px;
}

.image #zoom-in img{
  transform: scale(1);
  transition: 0.5s ease-in-out;
}

.image #zoom-in:hover img{
  transform: scale(1.2);
  /* transition: 0.3s ease-in-out; */
}


footer{
  margin-top: 100px;
}

p{
  text-align: center;
}
.footer-img{
 
  text-align: center;
  
}
.footer-img i {
  font-size: 40px;
  margin-left: 30px;
}